.game-tile {
    position: relative;

    &.down {
        background-color: red;
    }

    &.purple {
        background-color: purple;
    }

    &.blue {
        background-color: blue;
    }

    &.green {
        background-color: green;
    }

    .tile-selected {
        position: absolute;
        background-color: red;
        z-index: 10;
        border-radius: 25px;

        &.dot {
            left: 40%;
            top: 40%;
            width: 20%;
            height: 25.2%;
        }

        &.horizontal-left {
            left: 40%;
            top: 40%;
            width: 120%;
            height: 25.2%;
        }

        &.horizontal-right {
            left: -60%;
            top: 40%;
            width: 120%;
            height: 25.2%;
        }

        &.vertical-down {
            left: 40%;
            top: -50%;
            width: 20%;
            height: 113%;
        }

        &.vertical-up {
            left: 40%;
            top: 50%;
            width: 20%;
            height: 113%;
        }
    }
}