@import "./mixins";

.game-tile {
    position: relative;
    padding: 2px;
    border-radius: 6px;

    &:hover {
        border: 2px solid #ecf0f1;
    } 

    .wrapper {
        height: 100%;
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    
        &.purple {
            @include glossy(#8e44ad, #9b59b6, #8e44ad);
        }
    
        &.blue {
            @include glossy(#2980b9, #3498db, #2980b9);
        }
    
        &.green {
            @include glossy(#27ae60, #2ecc71, #27ae60);
        }

        .tile-selected {
            position: absolute;
            background-color: #ecf0f1;
            z-index: 10;
            border-radius: 25px;

            // &.dot {
            //     left: 40%;
            //     top: 40%;
            //     width: 20%;
            //     height: 25.2%;
            // }
    
            // &.horizontal-left {
            //     left: 40%;
            //     top: 40%;
            //     width: 120%;
            //     height: 25.2%;
            // }
    
            // &.horizontal-right {
            //     left: -60%;
            //     top: 40%;
            //     width: 120%;
            //     height: 25.2%;
            // }
    
            // &.vertical-down {
            //     left: 40%;
            //     top: -50%;
            //     width: 20%;
            //     height: 113%;
            // }
    
            // &.vertical-up {
            //     left: 40%;
            //     top: 50%;
            //     width: 20%;
            //     height: 113%;
            // }
        }
    }
    
}

.glossy-green {
    background: #94c4fe;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(31%,#66ff00), color-stop(100%,#bfff00));
    background: -webkit-linear-gradient(top,  #66ff00 31%,#bfff00 100%);
    background: -moz-linear-gradient(top,  #66ff00 31%, #bfff00 100%);
    background: -o-linear-gradient(top,  #66ff00 31%,#bfff00 100%);
    background: -ms-linear-gradient(top,  #66ff00 31%,#bfff00 100%);
    background: linear-gradient(to bottom,  #66ff00 31%,#bfff00 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#66ff00', endColorstr='#bfff00',GradientType=0);
   
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
   
    border: 1px solid #48a960;

    -webkit-box-shadow:  0px 1px 3px 0px rgba(0, 0, 0, .2);    
    box-shadow:  0px 1px 3px 0px rgba(0, 0, 0, .2);
}

